.preview {
  display: flex;
  flex: 2;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  flex: 1;
  background-color: #295b42;
  color: white;
  gap: 2rem;
  > section {
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
}
.right {
  flex: 2.1;
  background-color: white;
  > section {
    padding: 10% 5% 0% 10%;
    display: flex;
    flex-direction: column;
    > section {
      margin-bottom: 1rem;
    }
  }
}
.avatarWrapper {
  height: 6rem;
  width: 6rem;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}
.page {
  width: 794px; /* A4 width in px (96 DPI) */
  height: 1123px; /* A4 height */

  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  /* For printing */
}

.calc {
  height: fit-content;
}

.tittel {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  > p {
    white-space: 'pre-wrap';
    font-size: 0.8rem;
  }

  > h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  > span {
    width: 1rem;
    display: block;
    border-bottom: 1px solid white;
  }
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;

  > h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
  > p {
    white-space: 'pre-wrap';
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  > h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
  > p {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
