.page {
  width: 794px; /* A4 width in px (96 DPI) */
  height: 1123px; /* A4 height */

  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  /* For printing */
  page-break-after: always;
}

.page:last-child {
  page-break-after: auto;
}